# tinygg_shield/boards/shields/tinygg/Kconfig


config SHIELD_TINYGG_LEFT
    def_bool $(shields_list_contains,tinygg_left)

config SHIELD_TINYGG_RIGHT
    def_bool $(shields_list_contains,tinygg_right)

